In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)

In [7]:
train = pd.read_csv("IPL/train.csv")

In [8]:
train.head()

,Game ID,Team 1,Team 2,City,DayOfWeek,DateOfGame,TimeOfGame,AvgWindSpeed,AvgHumidity,"Inn 1 Team 1 NOP R>25,SR>125",...,"Inn 2 Team 2 NOP R<25, SR>125",Inn 2 Team 2 Total 4s,Inn 2 Team 2 Total 6s,Inn 2 Team 2 Max Strike Rate_ALLBatsmen,Inn 2 Team 1 NoP fast bowlers,Inn 2 Team 1 NoP Spinners,Inn 2 Team 1 wickets taken_catches_runout,Inn2 Team 1 wickets taken_ bowled _lbw_caught by keeper_stumping,Inn 2 Team 1 Extras conceded in_wides_No Balls,"Winner (team 1=1, team 2=0)"
0,1,Koramangala Traffic Jammers,Whitefield Water Loggers,Whitefield,1,01-01-2012,20:00:00,6,0.49,1,...,0,3,3,120.00,5,0,6,4,11,1
1,2,Electronic City Power Savers,Silkboard Slow Movers,Silkboard,2,01-02-2012,17:00:00,7,0.44,3,...,2,18,9,215.15,4,1,4,0,5,1
2,3,Indranagar Pub Watchers,Sarjapur Water Tankers,Sarjapur,3,01-03-2012,20:30:00,11,0.23,2,...,1,18,1,300.00,3,3,0,1,10,0
3,4,Bellandur Froth Fighters,Koramangala Traffic Jammers,Koramangala,4,01-04-2012,16:00:00,6,0.61,0,...,0,5,4,100.00,4,2,3,2,16,0
4,5,Marathalli Chokers,Whitefield Water Loggers,Marathalli,5,01-05-2012,20:00:00,6,0.56,3,...,3,15,6,205.26,4,2,4,1,5,0

In [9]:
train.describe()

,Game ID,DayOfWeek,AvgWindSpeed,AvgHumidity,"Inn 1 Team 1 NOP R>25,SR>125","Inn 1 Team 1 NOP R<25, SR>125",Inn 1 Team 1 Total 4s,Inn 1 Team 1 Total 6s,Inn 1 Team 1 Max Strike Rate_ALLBatsmen,Inn 1 Team 2 NoP fast bowlers,...,"Inn 2 Team 2 NOP R<25, SR>125",Inn 2 Team 2 Total 4s,Inn 2 Team 2 Total 6s,Inn 2 Team 2 Max Strike Rate_ALLBatsmen,Inn 2 Team 1 NoP fast bowlers,Inn 2 Team 1 NoP Spinners,Inn 2 Team 1 wickets taken_catches_runout,Inn2 Team 1 wickets taken_ bowled _lbw_caught by keeper_stumping,Inn 2 Team 1 Extras conceded in_wides_No Balls,"Winner (team 1=1, team 2=0)"
count,252.000000,252.000000,252.000000,252.000000,252.00000,252.000000,252.000000,252.000000,252.000000,252.000000,...,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,126.500000,4.011905,7.440476,0.625198,1.43254,1.531746,13.726190,4.880952,198.511627,3.825397,...,1.250000,12.658730,4.519841,188.509246,3.674603,2.146825,3.309524,2.091270,5.337302,0.440476
std,72.890329,2.000960,2.353354,0.131620,0.98566,1.185480,4.666618,2.996963,69.901951,1.006587,...,1.095536,4.379712,2.753412,56.843114,1.000632,0.976961,2.119777,1.610351,3.240880,0.497432
min,1.000000,1.000000,3.000000,0.160000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,63.750000,2.000000,6.000000,0.560000,1.00000,1.000000,11.000000,3.000000,161.110000,3.000000,...,0.000000,10.000000,2.750000,153.092500,3.000000,1.000000,2.000000,1.000000,3.000000,0.000000
50%,126.500000,4.000000,7.000000,0.655000,1.00000,1.000000,14.000000,5.000000,185.710000,4.000000,...,1.000000,12.000000,4.000000,185.710000,4.000000,2.000000,3.000000,2.000000,5.000000,0.000000
75%,189.250000,6.000000,8.000000,0.720000,2.00000,2.000000,17.000000,7.000000,220.000000,4.000000,...,2.000000,16.000000,6.000000,222.220000,4.000000,3.000000,5.000000,3.000000,7.000000,1.000000
max,252.000000,7.000000,22.000000,0.880000,4.00000,6.000000,25.000000,17.000000,600.000000,6.000000,...,5.000000,25.000000,14.000000,385.710000,6.000000,5.000000,9.000000,8.000000,16.000000,1.000000

In [10]:
test = pd.read_csv("IPL/test.csv")

In [11]:
test.head()

,Game ID,Team 1,Team 2,CityOfGame,Day,DateOfGame,TimeOfGame,AvgWindSpeed,AvgHumidity,"Inn 1 Team 1 NOP R>25,SR>125",...,"Inn 2 Team 2 NOP R<25, SR>125",Inn 2 Team 2 Total 4s,Inn 2 Team 2 Total 6s,Inn 2 Team 2 Max Strike Rate_ALLBatsmen,Inn 2 Team 1 NoP fast bowlers,Inn 2 Team 1 NoP Spinners,Inn 2 Team 1 wickets taken_catches_runout,Inn2 Team 1 wickets taken_ bowled _lbw_caught by keeper_stumping,Inn 2 Team 1 Extras conceded in_wides_No Balls,"Winner (team 1=1, team 2=0)"
0,253,Electronic City Power Savers,Marathalli Chokers,Electronic City,6,01-01-2016,20:00:00,5,0.62,1,...,0,9,5,142.85,3,3,1,1,3,0
1,254,Koramangala Traffic Jammers,Sarjapur Water Tankers,Koramangala,7,01-02-2016,20:00:00,6,0.66,1,...,1,8,4,210.00,3,2,1,1,1,0
2,255,HSR High Rent Payers,Marathalli Chokers,Marathalli,1,01-03-2016,16:00:00,5,0.64,0,...,1,8,1,166.66,4,2,2,7,4,1
3,256,Indranagar Pub Watchers,Silkboard Slow Movers,Indranagar,2,01-04-2016,20:00:00,5,0.64,1,...,3,14,4,166.66,2,4,6,3,2,1
4,257,Whitefield Water Loggers,Sarjapur Water Tankers,Whitefield,3,01-05-2016,16:00:00,5,0.62,2,...,2,13,2,160.00,4,2,6,1,2,1

In [12]:
description = pd.read_excel('IPL/data_dictionary.xlsx')

In [13]:
# I am droping GameID as i donot see its any significance in prediction

In [14]:
train.drop('Game ID',axis=1,inplace=True)
test.drop('Game ID',axis=1,inplace=True)

In [15]:
train.columns = list(description['Variable Name'])
test.columns = list(description['Variable Name'])

In [16]:
train.head()

,Team 1,Team 2,City of match,Day,Date of Match,Time of Match,Avg Wind Speed,Avg Humidity,"Inn 1 Team 1 NOP R>25,SR>125","Inn 1 Team 1 NOP R<25, SR>125",...,"Inn 2 Team 2 NOP R<25, SR>125",Inn 2 Team 2 Total 4s,Inn 2 Team 2 Total 6s,Inn 2 Team 2 Max Strike Rate_ALLBatsmen,Inn 2 Team 1 NoP fast bowlers,Inn 2 Team 1 NoP Spinners,Inn 2 Team 1 wickets taken_catches_runout,Inn 2 Team 1 wickets taken_ bowled _lbw_caught by keeper_stumping,Inn 2 Team 1 Extras conceded in_wides_No Balls,"Team won (team 1=1, team 2=0)"
0,Koramangala Traffic Jammers,Whitefield Water Loggers,Whitefield,1,01-01-2012,20:00:00,6,0.49,1,1,...,0,3,3,120.00,5,0,6,4,11,1
1,Electronic City Power Savers,Silkboard Slow Movers,Silkboard,2,01-02-2012,17:00:00,7,0.44,3,2,...,2,18,9,215.15,4,1,4,0,5,1
2,Indranagar Pub Watchers,Sarjapur Water Tankers,Sarjapur,3,01-03-2012,20:30:00,11,0.23,2,2,...,1,18,1,300.00,3,3,0,1,10,0
3,Bellandur Froth Fighters,Koramangala Traffic Jammers,Koramangala,4,01-04-2012,16:00:00,6,0.61,0,2,...,0,5,4,100.00,4,2,3,2,16,0
4,Marathalli Chokers,Whitefield Water Loggers,Marathalli,5,01-05-2012,20:00:00,6,0.56,3,1,...,3,15,6,205.26,4,2,4,1,5,0

In [17]:
test.head()

,Team 1,Team 2,City of match,Day,Date of Match,Time of Match,Avg Wind Speed,Avg Humidity,"Inn 1 Team 1 NOP R>25,SR>125","Inn 1 Team 1 NOP R<25, SR>125",...,"Inn 2 Team 2 NOP R<25, SR>125",Inn 2 Team 2 Total 4s,Inn 2 Team 2 Total 6s,Inn 2 Team 2 Max Strike Rate_ALLBatsmen,Inn 2 Team 1 NoP fast bowlers,Inn 2 Team 1 NoP Spinners,Inn 2 Team 1 wickets taken_catches_runout,Inn 2 Team 1 wickets taken_ bowled _lbw_caught by keeper_stumping,Inn 2 Team 1 Extras conceded in_wides_No Balls,"Team won (team 1=1, team 2=0)"
0,Electronic City Power Savers,Marathalli Chokers,Electronic City,6,01-01-2016,20:00:00,5,0.62,1,1,...,0,9,5,142.85,3,3,1,1,3,0
1,Koramangala Traffic Jammers,Sarjapur Water Tankers,Koramangala,7,01-02-2016,20:00:00,6,0.66,1,3,...,1,8,4,210.00,3,2,1,1,1,0
2,HSR High Rent Payers,Marathalli Chokers,Marathalli,1,01-03-2016,16:00:00,5,0.64,0,2,...,1,8,1,166.66,4,2,2,7,4,1
3,Indranagar Pub Watchers,Silkboard Slow Movers,Indranagar,2,01-04-2016,20:00:00,5,0.64,1,3,...,3,14,4,166.66,2,4,6,3,2,1
4,Whitefield Water Loggers,Sarjapur Water Tankers,Whitefield,3,01-05-2016,16:00:00,5,0.62,2,0,...,2,13,2,160.00,4,2,6,1,2,1

In [18]:
#Day do not affect the match

In [19]:
train.drop('Day',axis=1,inplace=True)
test.drop('Day',axis=1,inplace=True)

In [20]:
#Some team in test data was new to the train data so i am merging them

In [21]:
train = pd.concat([train, test], axis=0, sort=False)

In [22]:
from sklearn.utils import shuffle
train = shuffle(train)

In [23]:
#Adding season because dew affect in bowling and winter we can find dew at night and morning

In [24]:
def season(x):
    if int(x[1])<=2 or int(x[1])>=11:
        return 'Winter'
    else:
        return 'Summer'


train['Date of Match'] = train['Date of Match'].str.split('-').apply(season)
train['Date of Match'] = train['Date of Match'].astype('category')

In [25]:
#Extracting home city of the team from the team name

In [26]:
train['Home_City_1']=train.apply(lambda x: x['City of match'] in x['Team 1'], axis=1)
train['Home_City_2']=train.apply(lambda x: x['City of match'] in x['Team 2'], axis=1)

In [27]:
#Categorimg time into evening,morning and afternoon

In [28]:
def time(x):
    if int(x[0]) > 16:
        return 'Evening'
    elif int(x[0])<=16 and int(x[0])>=7:
        return 'Afternoon'
    else:
        return 'Morning'

team_2

In [29]:
train['Time of Match'] = train['Time of Match'].str.split(':').apply(time)
train['Time of Match'] = train['Time of Match'].astype('category')

In [30]:
train['Team won (team 1=1, team 2=0)'] = train['Team won (team 1=1, team 2=0)'].astype('bool')

In [31]:
train['Team 1'] = train['Team 1'].astype('category')
train['Team 2'] = train['Team 2'].astype('category')

In [32]:
# Making one hot vector representation of categorical data

In [33]:
train = pd.get_dummies(train)
train.iloc[:,5:].head(5)

,Inn 1 Team 1 Total 6s,Inn 1 Team 1 Max Strike Rate_ALLBatsmen,Inn 1 Team 2 NoP fast bowlers,Inn 1 Team 2 NoP Spinners,Inn 1 Team 2 wickets taken_catches_runout,Inn1 Team 2 wickets taken_ bowled _lbw_caught by keeper_stumping,Inn 1 Team 2 Extras conceded in_wides_No Balls,"Inn 2 Team 2 NOP R>25,SR>125","Inn 2 Team 2 NOP R<25, SR>125",Inn 2 Team 2 Total 4s,...,City of match_Indranagar,City of match_Koramangala,City of match_Marathalli,City of match_Sarjapur,City of match_Silkboard,City of match_Whitefield,Date of Match_Summer,Date of Match_Winter,Time of Match_Afternoon,Time of Match_Evening
96,4,143.90,3,3,0,2,7,1,0,9,...,0,0,0,0,1,0,1,0,1,0
36,4,175.00,3,4,6,2,5,2,3,11,...,0,0,0,0,0,0,1,0,1,0
9,5,200.00,5,1,8,2,5,0,2,12,...,0,0,0,0,1,0,1,0,0,1
177,8,250.00,4,1,4,1,8,1,1,12,...,0,0,1,0,0,0,0,1,0,1
217,4,181.81,3,3,4,1,2,1,1,12,...,0,0,1,0,0,0,1,0,1,0

In [34]:
# Seperating features and labels to train our models

In [35]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
y = np.array(train['Team won (team 1=1, team 2=0)'])

# Remove the labels from the features
# axis 1 refers to the columns
train= train.drop('Team won (team 1=1, team 2=0)', axis = 1)

# Saving feature names for later use
train_list = list(train.columns)
# Convert to numpy array
train = np.array(train)

In [36]:
# Splited into train(80%) and test(20%)

In [37]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(train, y, test_size = 0.20, random_state = 42)

In [38]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (262, 59)
Training Labels Shape: (262,)
Testing Features Shape: (66, 59)
Testing Labels Shape: (66,)

In [39]:
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier
from sklearn.feature_selection import RFECV
from sklearn.feature_selection import GenericUnivariateSelect
from sklearn.linear_model import RandomizedLogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import RFE
from sklearn import tree
from sklearn.svm import SVR
from sklearn.svm import LinearSVC
from sklearn.metrics import roc_auc_score, accuracy_score, precision_recall_fscore_support

In [280]:
# Feature Selection

In [107]:
model=Pipeline([('feature_selection', SelectFromModel(LinearSVC(penalty="l2", dual=False))),
    ('classifier', RandomForestClassifier(n_estimators=400, max_depth=10, n_jobs=-1))])

In [108]:
model.fit(train_features, train_labels)
prediction = model.predict(test_features)
print( 'accuracy: {}'.format(accuracy_score(test_labels, prediction)))

accuracy: 0.9090909090909091

In [343]:
# Performance mesasure

In [344]:
precision, recall, fscore, support = precision_recall_fscore_support((test_labels),prediction)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))

prob = model.predict_proba(test_features)
prob = [p[1] for p in prob]
print( 'AUROC: {}'.format(roc_auc_score(test_labels, prob)))

precision: [0.96969697 0.87878788]
recall: [0.88888889 0.96666667]
fscore: [0.92753623 0.92063492]
AUROC: 0.9685185185185184

In [345]:
from sklearn.externals import joblib
joblib.dump(model, 'model.pkl')

['model.pkl']

In [2]:
from sklearn.linear_model import LogisticRegression

In [160]:

from sklearn.preprocessing import MinMaxScaler
# call MinMaxScaler object
min_max_scaler = MinMaxScaler()
# feed in a numpy array
Ntrain_features = min_max_scaler.fit_transform(train_features)
Ntest_features = min_max_scaler.fit_transform(test_features)

F:\Anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
F:\Anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [174]:
clf = LogisticRegression(random_state=0, solver='liblinear',penalty='l2',max_iter=100000,).fit(Ntrain_features, train_labels)

In [175]:
prediction=clf.predict(Ntest_features)

In [176]:
clf.score(Ntest_features,test_labels)

0.9393939393939394

In [177]:
precision, recall, fscore, support = precision_recall_fscore_support((test_labels),prediction)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))

prob = clf.predict_proba(Ntest_features)
prob = [p[1] for p in prob]
print( 'AUROC: {}'.format(roc_auc_score(test_labels, prob)))

precision: [0.91666667 0.96666667]
recall: [0.97058824 0.90625   ]
fscore: [0.94285714 0.93548387]
AUROC: 0.988970588235294